In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
df = pd.read_csv("AB_NYC_2019.csv")

In [42]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [43]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

which rooms fetch the max price? interms of latitude and logintude, reviews of the rooms which have highest rating, they belong to which neighbourhood and group

In [44]:
max_price_room = df['price'].max()  # Define your condition
# Create a boolean condition for rows where the price is equal to the maximum price 
# otherwise the result is based on the value returned by the max() query 
# where as it should actually search based on the index of the max price of a room 
condition = df['price'] == max_price_room
selected_columns = df.loc[condition, ['host_name','price','room_type','latitude', 'longitude', 'neighbourhood_group', \
                                      'neighbourhood', 'number_of_reviews' ]]  # Select columns based on the condition
print(selected_columns)

      host_name  price        room_type  latitude  longitude  \
9151   Kathrine  10000     Private room  40.76810  -73.91651
17692      Erin  10000  Entire home/apt  40.73260  -73.95739
29238    Jelena  10000  Entire home/apt  40.77213  -73.98665

      neighbourhood_group    neighbourhood  number_of_reviews
9151               Queens          Astoria                  2
17692            Brooklyn       Greenpoint                  5
29238           Manhattan  Upper West Side                  0

from the data
- reviews does not have a bearing on the max room rent
- all of the rooms are closely situated

# top-performing hosts and factors contributing to their success.

# number of reviews and availability of top performing host

In [45]:
# average availability
avg_availability = df['availability_365'].mean()
print(avg_availability)

112.78132733408324

In [46]:
# Calculate revenue for each row
df['revenue'] = df['price'] * df['minimum_nights']

# Group by 'host_name' and sum the revenue
revenue_by_host = df.groupby(['host_name', 'room_type'])['revenue'].sum().reset_index()

# Find the top-performing host
top_host = revenue_by_host.loc[revenue_by_host['revenue'].idxmax()]

# Extract the host_name of the top-performing host
top_host_name = top_host['host_name']

# Filter the original DataFrame for the top-performing host
top_host_info = df[df['host_name'] == top_host_name]

# Calculate the number of reviews and availability_365 for the top-performing host
num_reviews = top_host_info['number_of_reviews'].sum()
availability_365 = top_host_info['availability_365'].mean()

# Display the results
print("Top-performing host:")
print("Host Name:", top_host_name)
print("Total Revenue:", top_host['revenue'])
print("Number of Reviews:", num_reviews)
print("Average Availability (in days):", availability_365)

Top-performing host:
Host Name: Blueground
Total Revenue: 2258580
Number of Reviews: 29
Average Availability (in days): 253.81034482758622

the data suggests that the reviews are low even though the revenue is high. Also the availability is more than twice the average.

# number of reviews and availability of worst performing host by revenue

In [47]:
# Find the top-performing host
worst_host = revenue_by_host.loc[revenue_by_host['revenue'].idxmin()]

# Extract the host_name of the top-performing host
worst_host_name = worst_host['host_name']

# Filter the original DataFrame for the top-performing host
worst_host_info = df[df['host_name'] == worst_host_name]

# Calculate the number of reviews and availability_365 for the top-performing host
num_reviews = worst_host_info['number_of_reviews'].sum()
availability_365 = worst_host_info['availability_365'].mean()

# Display the results
print("Worst-performing host details:")
print("Host Name:", worst_host_name)
print("Total Revenue:", worst_host['revenue'])
print("Number of Reviews:", num_reviews)
print("Average Availability (in days):", availability_365)

Worst-performing host details:
Host Name: Aymeric
Total Revenue: 0
Number of Reviews: 3
Average Availability (in days): 73.0

comparison between top performing and worst performing host
- the availability of the rooms is almost four times the worst performing host and the reviews is also 10 times than the worst perforing host
- the number of reviews is much higher as expected, since worst performing host does not have any bookings

# Is revenue affected by reviews?

# host with max review

In [48]:
# Find the maximum number of reviews
max_reviews = df['number_of_reviews'].max()

# Filter the DataFrame to find the row(s) where number_of_reviews matches the maximum value
max_reviews_hosts = df[df['number_of_reviews'] == max_reviews]

# Print the maximum number of reviews
print("Maximum number of reviews:", max_reviews)

# Print the host name(s) associated with the maximum number of reviews
print("Host name(s) with the maximum number of reviews:")
for host_name in max_reviews_hosts['host_name']:
    print(host_name)

# Filter the DataFrame for host_name = 'Dona'
dona_revenue = df[df['host_name'] == 'Dona']['revenue'].sum()

# Print the revenue
print("Revenue of host 'Dona':", dona_revenue)

Maximum number of reviews: 629
Host name(s) with the maximum number of reviews:
Dona
Revenue of host 'Dona': 94

# host with max revenue

In [49]:
# Find the maximum number of reviews
# finds one trasaction which is max
max_revenue = df['revenue'].max()

# Filter the DataFrame to find the row(s) where number_of_reviews matches the maximum value
max_revenue_host = df[df['revenue'] == max_revenue]

# Print the maximum number of reviews
print("Maximum revenue:", max_revenue)

# Print the host name(s) associated with the maximum number of reviews
print("Host name(s) with the maximum revenue:")
for host_name in max_revenue_host['host_name']:
    print(host_name)
    
# Filter the DataFrame for host_name = 'Jenny'
# 
Jenny_revenue = df[df['host_name'] == 'Jenny']['revenue'].sum()

# Print the revenue
print("Revenue of host 'Jenny':", Jenny_revenue)

# Filter the DataFrame for host_name = 'Jenny'
Jenny_reviews = df[df['host_name'] == 'Jenny']['number_of_reviews'].count()

# Print the revenue
print("Reviews of host 'Jenny' property:", Jenny_reviews)

Maximum revenue: 1170000
Host name(s) with the maximum revenue:
Jenny
Revenue of host 'Jenny': 1215111
Reviews of host 'Jenny' property: 66

by the above, we can find that the revenues are not influenced by the reviews 
- Host with high revenue does not have max reviews
- Host with highest reviews has low revenue