In [38]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [39]:
df = pd.read_csv('titanic.csv')
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [40]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [51]:
df_final = df.drop(['Name', 'SibSp','Ticket', 'Embarked', 'Parch', 'Cabin'], axis ='columns')
df_final

     PassengerId  Survived  Pclass     Sex   Age     Fare
0              1         0       3    male  22.0   7.2500
1              2         1       1  female  38.0  71.2833
2              3         1       3  female  26.0   7.9250
3              4         1       1  female  35.0  53.1000
4              5         0       3    male  35.0   8.0500
..           ...       ...     ...     ...   ...      ...
886          887         0       2    male  27.0  13.0000
887          888         1       1  female  19.0  30.0000
888          889         0       3  female   NaN  23.4500
889          890         1       1    male  26.0  30.0000
890          891         0       3    male  32.0   7.7500

[891 rows x 6 columns]

In [52]:
df_final.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
Fare           float64
dtype: object

In [53]:
df_final['Sex'] = df_final['Sex'].astype('str')

In [54]:
df_final.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
Fare           float64
dtype: object

In [57]:
inputs = df_final.drop('Survived',axis='columns')
target = df_final.Survived

In [58]:
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [59]:
inputs

     PassengerId  Pclass  Sex   Age     Fare
0              1       3    1  22.0   7.2500
1              2       1    2  38.0  71.2833
2              3       3    2  26.0   7.9250
3              4       1    2  35.0  53.1000
4              5       3    1  35.0   8.0500
..           ...     ...  ...   ...      ...
886          887       2    1  27.0  13.0000
887          888       1    2  19.0  30.0000
888          889       3    2   NaN  23.4500
889          890       1    1  26.0  30.0000
890          891       3    1  32.0   7.7500

[891 rows x 5 columns]

In [60]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [63]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [64]:
# fit the model
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [65]:
# what is the score
model.score(X_test,y_test)

0.7486033519553073

In [67]:
# predict the results
y_predicted = model.predict(X_test)

In [68]:
from sklearn.metrics import confusion_matrix

In [70]:
# Compute the confusion matrix
cm = confusion_matrix(y_test, y_predicted)

In [71]:
# Display the confusion matrix
print("Confusion Matrix:")
print(cm)

Confusion Matrix:
[[89 22]
 [23 45]]